<!DOCTYPE html>
<html>
<head>
    <title>Django Signals and Threading Demo</title>
</head>
<body>
    <h1>Welcome to the Django Signals and Threading Demo</h1>
    
    <p>Click <a href="{% url 'test_view' %}">here</a> to test the signal in signalapp.</p>
    
    <p>Click <a href="{% url 'thread_test_view' %}">here</a> to test the thread behavior in threadapp.</p>

    <p>Click <a href="{% url 'transaction_test_view' %}">here</a> to test database transactions in transactionapp.</p>
</body>
</html>
